* {
    padding: 0;
    margin: 0;
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --cyan1: #70e3ea;

}


.container {
    background-color: #1e293b;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.container2 {

    background-color: #1e293b;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




body {
    background-color: var(--dark1);
    background-size: 400%;
    height: 100vh;
    font-family: 'Lato';
    margin-bottom: 30px;
}


.main {
    display: flex;
    flex-direction: row;

    border: 1px;
    justify-content: left;
    align-items: center;
    justify-content: center;
    align-items: space-around;
    padding: -5px;
}


h1 {
    display: flex;
    color: var(--dark1);
    padding-bottom: 10px;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #e8e6d9;


}



.container4 {
    display: flex;
    flex-direction: row;
    padding: bottom 70px;
    background-color: var(--dark1);



}


h2 {
    display: grid;
    flex-direction: row;
    margin: 0;
    padding: 0;
}




img {

    width: 540px;
    max-height: 480px;

}


#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background-color: #e8e6d9;
    font-family: "Poppins", sans-serif;
    border: 1px solid #c0c0c0;

}



#menu li a {
    text-decoration: none;
    padding: 10px 25px;
    margin: 1rem;
    display: block;
    border-radius: 5%;
    background: #3d3c3c;
    color: #fff;
    text-shadow: 0px 0px 5px #efeb02;

}

#menu li a:hover {
    background-color: #5037ed;
    transition: .5s;
    /* Cor de fundo ao passar o mouse */
}








.parag {
    color: var(--white);
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    display: block;
    min-height: 300px;
    min-width: 200px;
    border: 1px solid var(--dark1);
    row-gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 2rem;
    margin-top: 5px;

}




p {
    color: var(--white);
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    display: block;
    min-height: 50px;
    min-width: 50px;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 2rem;
    padding-bottom: 10px;

}



li {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
    margin-left: 4rem;


}


#h2_classificada {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding: 20px;

    color: var(--white);
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
    gap: 70px;

}

.espaco {
    padding: 50px;
}

#section2 {
    display: flex;
    margin-bottom: 10rem;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    justify-content: center;


}

#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white);
    padding: 10px;
    margin-bottom: 7rem;
    font-size: x-large;
    font-family: "Poppins", sans-serif;

}

.adolescente {
    width: 4rem;
    height: 4remd;

}

.estpremiado {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

}

.espacobaixo {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 100px;
}